#MyWindow {
    background-color: black;
    color: white;
    font-family: Sans;
}
#wrapper{
    background-color: black;
}
label#lblTemp{
    font-size: 96px;
}
label#lblWeatherDescription{
    font-size: 24px;
}
label#lblHumidity{
    font-size: 24px;
}
label#lblPressure{
    font-size: 24px;
}
label#lblCity{
    font-size: 24px;
}